@import "tailwindcss";

@theme {
  --animate-gradient-shift: gradient-shift 8s ease infinite alternate;

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer utilities {
  .slider-custom {
    -webkit-appearance: none;
  }
  .slider-custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #3b82f6;
    border-radius: 50%;
    cursor: pointer;
  }
}
